dotenv
langchain==1.2.0
langchain-ollama==1.0.1
langgraph==1.0.5
fastapi==0.128.0
uvicorn
langchain-community==0.4.1
duckduckgo-search
ddgs
langchain-mcp-adapters==0.2.1
fastmcp==2.14.2
pyjwt
pwdlib[argon2]
pandas
matplotlib
snakeviz
